@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var islemSonuc = ViewData["islemSonuc"];
   

   
   

}
@using SduDigitalForm.Areas.TeknikServisTalepFormu.Models
@model TeknikServisTalepFormuViewModel



<div class="card shadow mb-auto">
    <div class="card-header py-3">
        <h4>Teknik Servis Talep Formu </h4>
        <h6>Razorpage-MVC</h6>
    </div>
    @if (islemSonuc != null)
    {
        <div class="alert alert-success">
            <h4>@islemSonuc</h4>

        </div>
    }
    @if (Model.sayinkisi != null)
    {
        <div class="alert alert-success">
            <h4>Sayın @Model.sayinkisi Cevabınız kaydedildi.</h4>

        </div>
    }



    @using (Html.BeginForm())
    {

        <div class="container-fluid card-body ">

            <div class="row g-3">

                <div class="col-md-6">
                    <label>Phone  :</label><br />
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })

                </div>

                <div class="col-md-6">
                    <label>E-mail  :</label><br />
                    @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })

                </div>


            </div>


            <div class="row g-3">
                <div class="col-md-12">
                    <label>Address  :</label><br />
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="row g-3">
                <div class="form-group col-md-6">
                    <label>Select Device  Type :</label><br />
                    @Html.DropDownListFor(m => m.TypeDeviceId, new SelectList(Model.TypeDeviceList, "Id", "Name"), new { @class = "form-control" })

                </div>


                <div class="form-group col-md-6">
                    <label>Select Device Issue Type :</label><br />
                    @Html.DropDownListFor(m => m.TypeIssueId, new SelectList(Model.TypeIssueList, "Idissue", "IssueType"), new { @class = "form-control" })
                </div>
            </div>



            <div class="row g-3">
                <div class="col-md-6">
                    <label>Date :</label><br />
                    <input type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" name="GivenDate" /><br />

                </div>

                <div class="col-md-6">
                    <label>Person asking for repair(Hatalı çeviri) :</label><br />
                    <input type="text" class="form-control" name="RepairCustomer" />
                </div>
            </div>




            <div class="row g-3">
                <div class="col-md-6">
                    <label>Delivery Person's Name(Hatalı çeviri) :</label>
                    <input type="text" class="form-control" name="Delivered" />
                </div>


                <div class="col-md-6">
                    <label>Receiver's Name(Hatalı çeviri) :</label><br />
                    <input type="text" class="form-control" name="Giver" /><br />
                </div>
            </div>






            <div class="row g-3">
                <div class="col-md-12">
                    <label>Note :</label><br />
                    <textarea class="form-control" asp-for="Note" name="note" id="note"></textarea><br />
                </div>
            </div>

            <div class="row g-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <button class="btn btn-success" type="submit" value="Submit">Save Form</button>

                    </div>
                </div>
            </div>

        </div>



        <table>
            <tr>


                @foreach (var item in Model.userList)
                {
                    <td> @item.Name  </td>
                    <td>   @item.Surname</td>

                    <td>@item.OrganizationUnitId</td>
                }

            </tr>

            <tr>
            </tr>
        </table>
    }



</div>


