@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<h1>Form Test Page</h1>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        

        <div class="card-body col-md-6 ">
            <form method="post">


                <div class="form-group">
                    <label>Name  :</label><br />
                    <input type="text" class="form-control"  name="Name" placeholder="Adınızı Girin"/><br />
                
                    <label>Surname :</label><br />
                    <input type="text" class="form-control" name="Surname" placeholder="Soyadınızı Girin" /><br />
                

                
                    <label>E-mail  :</label><br />
                    <input type="email" class="form-control" name="Email" placeholder="Email Girin"/><br />
                

                
                    <label>Phone  :</label><br />
                    <input type="tel"   class="form-control" name="Phone" placeholder="000-000-00-00 Şeklinde Giriniz"/><br />
                



                
                    <label>Address  :</label><br />
                    <input type="text" class="form-control" name="Address"/><br />
                </div>



                <div class="form-group">
                   
               
                    <label>Select Device Type :</label><br />


                    <select class="col-md-5 form-control" name="DeviceTypeSelect">

                        <option selected hidden>Please Select...</option>
                        @foreach (var item in Model.TypeDeviceList)
                        {

                            <option value="@item.Id">@item.Name</option>

                        }
                    </select><br />
                




                
                    <label>Select Device Issue Type :</label><br />

                    <select class="col-md-5 form-control" name="IssueTypeSelect">

                        <option selected hidden>Please Select...</option>
                        @foreach (var item in Model.TypeIssueList)
                        {

                            <option value="@item.Idissue">@item.IssueType</option>

                        }
                    </select><br />

                </div>



                <div class="form-group">

                    <label>Person asking for repair(Hatalı çeviri) :</label><br />
                    <input type="text" class="form-control" name="RepairCustomer" /><br />

                
                    <label>Date :</label><br />
                    <input type="date" class="form-control" name="GivenDate"/><br />

                
                    <label>Delivery Person's Name(Hatalı çeviri) :</label><br />
                    <input type="text" class="form-control"name="Delivered" /><br />
               

                
                    <label>Receiver's Name(Hatalı çeviri) :</label><br />
                    <input type="text" class="form-control" name="Giver"/><br />
                

                
                    <label>Note :</label><br />
                    <textarea class="form-control" name="Note"></textarea><br />

                </div>

                <div class="form-group">
                    <button class="btn btn-success" type="submit">Save Form</button>

                </div>

                
            </form>

        </div>






    </div>
</div>



@* ////////////DB Test Table
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Cihaz Türü Id</th>
            <th>Cihaz Türü Adı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TypeDeviceList)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
            </tr>
        }
    </tbody>
</table>
    *@