@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<h1>Form Test Page</h1>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        

        <div class="card-body col-md-6 ">
            <form method="post">


                <div class="form-group">
                    <label>Name  :</label><br />
                    <input type="text" class="form-control"  name="Name"/><br />
                
                    <label>Surname :</label><br />
                    <input type="text" class="form-control" name="Surname" /><br />
                

                
                    <label>E-mail  :</label><br />
                    <input type="email" class="form-control" name="Email"/><br />
                

                
                    <label>Phone  :</label><br />
                    <input type="text" class="form-control" /><br />
                



                
                    <label>Address  :</label><br />
                    <input type="text" class="form-control" /><br />
                </div>



                <div class="form-group">
                    <label>Select Unit :</label><br />
                    <select class="col-md-5 form-control">

                        <option selected hidden>Please Select...</option>
                        @foreach (var item in Model.OrgUnitList)
                        {

                            <option>@item.DisplayName</option>

                        }
                    </select><br />
               
                    <label>Select Device Type :</label><br />


                    <select class="col-md-5 form-control">

                        <option selected hidden>Please Select...</option>
                        @foreach (var item in Model.TypeDeviceList)
                        {

                            <option>@item.Name</option>

                        }
                    </select><br />
                




                
                    <label>Select Device Issue Type :</label><br />

                    <select class="col-md-5 form-control">

                        <option selected hidden>Please Select...</option>
                        @foreach (var item in Model.TypeIssueList)
                        {

                            <option>@item.IssueType</option>

                        }
                    </select><br />

                </div>



                <div class="form-group">

                    <label>Person asking for repair(Hatalı çeviri) :</label><br />
                    <input type="text" class="form-control" /><br />

                
                    <label>Date :</label><br />
                    <input type="date" class="form-control" /><br />

                
                    <label>Delivery Person's Name(Hatalı çeviri) :</label><br />
                    <input type="text" class="form-control" /><br />
               

                
                    <label>Receiver's Name(Hatalı çeviri) :</label><br />
                    <input type="text" class="form-control" /><br />
                

                
                    <label>Note :</label><br />
                    <textarea class="form-control"></textarea><br />

                </div>

                <div class="form-group">
                    <button class="btn btn-success" type="submit">Save Form</button>

                </div>

                
            </form>

        </div>






    </div>
</div>



@* ////////////DB Test Table
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Cihaz Türü Id</th>
            <th>Cihaz Türü Adı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TypeDeviceList)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
            </tr>
        }
    </tbody>
</table>
    *@